# Scaleway credentials
SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_DEFAULT_PROJECT_ID=

# Credentials declaration for the s3 bucket backend
AWS_ACCESS_KEY_ID=$SCW_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=$SCW_SECRET_KEY

# Passphrase for the private KEY
SECRET_GPG_PASSPHRASE=

# JMT instance variables
SCALEWAY_INSTANCE_TYPE=
TF_VAR_jmt_selenium_nodes=
TF_VAR_jmt_instance_size=$SCALEWAY_INSTANCE_TYPE
