## The following variables are overriden with terraform variables
MALLEUS_ROOM_NAME_PREFIX=test
MALLEUS_PARTICIPANTS=2

## Malleus variables for load test
MALLEUS_CONFERENCES=1
MALLEUS_SENDERS=$MALLEUS_PARTICIPANTS
MALLEUS_AUDIO_SENDERS=$MALLEUS_PARTICIPANTS
MALLEUS_SENDERS_PER_NODE=1
MALLEUS_RECEIVERS_PER_NODE=1
MALLEUS_DURATION=600
MALLEUS_INSTANCE_URL=https://meet.jit.si
MALLEUS_USE_NODE_TYPES=false
MALLEUS_USE_LOAD_TEST=false
MALLEUS_MAX_DISRUPTED_BRIDGES_PCT=0
MALLEUS_SWITCH_SPEAKERS=false
MALLEUS_USE_STAGE_VIEW=false
MALLEUS_HUB_URL=http://selenium-hub:4444/wd/hub
