# Scaleway credentials
SCW_ACCESS_KEY=
SCW_SECRET_KEY=
SCW_DEFAULT_PROJECT_ID=
SCW_DEFAULT_ORGANIZATION_ID=

# Credentials declaration for the s3 bucket backend
AWS_ACCESS_KEY_ID=${SCW_ACCESS_KEY}
AWS_SECRET_ACCESS_KEY=${SCW_SECRET_KEY}

# Passphrase for the private KEY
SECRET_GPG_PASSPHRASE=

# Name of the image that will be created on Scaleway
IMAGE_NAME=jmt-image

# JMT instance variables to adapt to test
# Each instance will serve exactly one conference, so NUMBER_PARTICIPANTS_PER_CONFERENCE should be greater than NUMBER_PARTICIPTANTS_PER_INSTANCE
# Number of instances per conference will be equal to NUMBER_PARTICIPANTS_PER_CONFERENCE / NUMBER_PARTICIPTANTS_PER_INSTANCE, so beware of the ceil operation that can cause int conversion problem
SCALEWAY_INSTANCE_TYPE=DEV1-S
NUMBER_CONFERENCES=2
NUMBER_PARTICIPANTS_PER_CONFERENCE=4
NUMBER_PARTICIPTANTS_PER_INSTANCE=2

# Room prefix for test conferences
# The room pattern will be ${ROOM_PREFIX}${N}-0, where N is the stack number
ROOM_PREFIX=test

# The starting time (Europe/Paris timezone) of JMT tests
# Format is HH:MM
# If empty, tests are launched at startup
SCHEDULED_START_TIME=

# Terraform JMT variables
TF_VAR_jmt_instance_size=${SCALEWAY_INSTANCE_TYPE}
TF_VAR_jmt_conferences=${NUMBER_CONFERENCES}
TF_VAR_jmt_participants_per_conference=${NUMBER_PARTICIPANTS_PER_CONFERENCE}
TF_VAR_jmt_participants_per_instance=${NUMBER_PARTICIPTANTS_PER_INSTANCE}
TF_VAR_jmt_image_name=${IMAGE_NAME}
TF_VAR_jmt_room_prefix=${ROOM_PREFIX}
TF_VAR_jmt_scheduled_start_time=${SCHEDULED_START_TIME}

# Terraform application variable. If you want to create all instances at the same time,
# this should equal NUMBER_CONFERENCES * NUMBER_PARTICIPANTS_PER_CONFERENCE / NUMBER_PARTICIPTANTS_PER_INSTANCE
TF_OPERATIONS_PARALLELISM=10
